{
    "adminserver" : "http://localhost:8083/",
    "mapproxydir" : "/path/to/root/of/mapproxy",
    "mapproxy_projects": "projects",
    "mapproxy_cache": "mp",
    "metadata": {
        "title":"Default Title",
        "abstract":"Default Abstract",
        "online_resource":"http://host.example.org/mapproxy",
        "contact":{
            "person":"Administrator",
            "position":"Contact",
            "organization": "Example Org",
            "city": "City",
            "postcode": "1000",
            "country": "your Country",
            "email":"info@example.org"
        },
        "access_constraints":"None",
        "fees":"free, fair use"
    }
}